<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dream English</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Dream English" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="assets/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<!-- //online-fonts -->
	
</head>
<body>
    <!-- banner -->
    <div class="banner">
        <!-- header -->
    <header>	
	<nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a href="index.html">Dream English</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mr-lg-4 mr-3 active"><a href="index.html">Home</a></li>
						<li class="mr-lg-4 mr-3"><a href="about.html">¿Quiénes somos?</a></li>
                        <li class="mr-lg-4 mr-3"><a href="services.html">¿Cómo lo hacemos?</a></li>
						<li class="mr-lg-4 mr-3"><a href="startToday.html">Start today</a></li>
                        <li class="mr-lg-4 mr-3"><a href="contact.html">Contact</a></li>
                    </ul>
    </nav>
</header>
<!-- //header -->
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
				<img src="assets/imgs/dreamEnglish_checkpoint.png" alt="logo" srcset="" id="logoDreamBanner">
                <div class="slider-info">
                    <h3>Te ayudamos a alcanzar tus sueños </h3>
				</div>
            </div>
			<div class="banner-top pb-5">
                <div class="row slider-bottom">
                    <div class="col-md-3 slider-bottom-lft">
						<h4>¿Te interesa saber más?</h4>
						<p class="text-white mt-2">Déjanos tu correo y nosotros te contactamos </p>
					</div>
					 <div class="col-md-9 n-right-w3ls">
						<div class="row">
							<div class="col-md-4 form-group news-rt">
								<input class="form-control" type="text" name="Name" placeholder="Nombre" required="">
							</div>
							<div class="col-md-4 form-group news-lt">
								<input class="form-control" type="email" name="Email" placeholder=" Email" required="">
							</div>
							<div class="col-md-4 form-group news-last">
								<div class="sbm-it">
									<div class="form-group">
										<input class="form-control submit text-uppercase" type="submit" value="Enviar">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
     <!-- //banner-text -->
     <section class="about-w3ls py-5">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-5">
					<img src="assets/imgs/laptop-women-kitchen.jpg" alt="" class="img-section4 img-fluid">
				</div>
				<div class="col-lg-7 section-4">
					<div class="agil_mor">
						<h2 class="heading-agileinfo">We are as unique <span>as you are</span></h2>
						<p class="vam">Somos la primer escuela de inglés que ha trasladado cursos presenciales a remotos sin perder ninguna cualidad, entendemos la tendencia, aprovechamos la tecnología y te entrenamos para el éxito. </p>
						<a href="about.html" class="mt-3">Lee más...</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-w3ls py-5 bg-info">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-7 section-5">
					<div class="agil_mor">
						<h3 class="heading-agileinfo">We believe<span class="text-light"> the teacher is key</span></h3>
						<p class="vam">Un buen maestro hace la diferencia, nosotros tenemos a los mejores, con décadas de pasión y experiencia. </p>
						<a href="about.html" class="mt-3 text-light">Lee más...</a>
					</div>
				</div>
				<div class="col-lg-5">
					<img src="assets/imgs/man-rolling-chair.jpg" alt="" class="img-section4 img-fluid" >
				</div>
				
			</div>
		</div>
	</section>
	<section class="about-w3ls py-5">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-5">
					<img src="assets/imgs/man-laptop.jpg" alt="" class="img-section4 img-fluid">
				</div>
				<div class="col-lg-7 section-4">
					<div class="agil_mor">
						<h2 class="heading-agileinfo"> Nuestros cursos de <span>avance rápido </span></h2>
						<p class="vam"> Constan de 17 días hábiles de lunes a viernes con 80 minutos de clase + 15 a 20 minutos de trabajo individual. </p>
						<a href="about.html" class="mt-3">Lee más...</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	 <!-- services -->
    <div class="more-services py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h3 class="heading-agileinfo text-center pb-4 bg-info text-light">Nuestros cursos incluyen:</h3>
            </div>
            <div class="row grid">
                <div class="col-lg-3 col-12 more-services-1">
                    <figure class="effect-1" style="height:100%;">
                        <img src="assets/imgs/cellphone-man.jpg" alt="img" class="img-fluid" style="height:15rem;" />
                        <h4>LLamada sorpresa</h4>
                        <p> Durante tu nivel, tienes la opción de elegir llamada sorpresa, lo que significa que en un momento no programado, recibirás una llamada telefónica, misma que tendrás que contestar en inglés en el lugar que te encuentres y entablar conversación con el llamante. Esto ayudará a mejorar tus habilidades de escuchar y resolver problemas en el idioma.</p>
					</figure>
				 </div>
                <div class="col-lg-3 col-12 more-services-1">
                    <figure class="effect-1" style="height:100%;">
                        <img src="assets/imgs/lectura-mujer.jpg" alt="img" class="img-fluid" style="height:15rem;"/>
                       <h4>Club de lectura</h4>
                        <p>En el club de lectura los alumnos se reúnen de forma voluntaria una vez a la semana para compartir 5 palabras o frases nuevas que hayan aprendido, así como también narrar el contenido de sus lecturas, las cuales serán elegidas por ellos mismos basadas en sus intereses personales.</p>
					</figure>
                </div>

                <div class="col-lg-3 col-12 more-services-1">
                    <figure class="effect-1"style="height:100%;">
                        <img src="assets/imgs/freelancer-at-home.jpg" alt="img" class="img-fluid" style="height:15rem;"/>
                       <h4>Pláticas</h4>
                      <p>Podrás entrar a videoconferencias en vivo con personas de alrededor del mundo contando las experiencias y aventuras que han tenido gracias al idioma.</p>
					</figure>
                </div>
                <div class="col-lg-3 col-12 more-services-1">
                    <figure class="effect-1" style="height:100%;">
                        <img src="assets/imgs/mail-formal.jpg" alt="img" class="img-fluid" style="height:15rem;"/>
                        <h4>Email formal</h4>
						<p>Adicional a tu curso tienes la oportunidad de practicar y recibir retroalimentación sobre como escribir y contestar a correos electrónicos de trabajo. </p>
					</figure>
                </div>
            </div>
        </div>
	</div>
	<section class="about-w3ls py-5">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-5">
					<img src="assets/imgs/elzoom.jpg" alt="" class="img-section4 img-fluid">
				</div>
				<div class="col-lg-7 section-4">
					<div class="agil_mor">
						<h2 class="heading-agileinfo">Integrate <span>a nuestro club de conversación</span></h2>
						<p class="vam">Otra opción para ti si ya sabes inglés y lo que quieres es no olvidarlo, puedes integrarte a nuestro club de conversación. 1 hora diaria disponible de lunes a viernes. Puedes contratarlo por semana, quincena o por hora con un maestro de tu elección.</p>
						<a href="about.html" class="mt-3">Lee más...</a>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- //services -->
	<!-- testimonials -->
	<div class="testimonials py-lg-5">
		<div class="container py-5 formaRemota">
			 <div class="title-section pb-sm-5 pb-3">
               <h3 class="heading-agileinfo text-center pb-4">¿Por qué <span> estudiar de forma remota?</span></h3>
            </div>
			<div class="mis-stage">
				<!-- The element to select and apply miSlider to - the class is optional -->
				<div class="row mis-slider">
					<!-- The slider element - the class is optional -->
					<div class="col-lg-3 col-6 mis-slide mb-4">
						<h6>Ahorras tiempo y dinero en traslados.</h6>
					</div>
					<div class="col-lg-3 col-6 mis-slide mb-4">
						<h6>Es ideal si vives en áreas distantes a las ciudades o no puedes trasladarte a ellas. </h6>
					</div>
					<div class="col-lg-3 col-6 mis-slide mb-4">
						<h6>Es perfecto si tu día es muy ocupado y no dispones de tanto tiempo pero necesitas aprender o practicar el idioma.</h6>
					</div>
					<div class="col-lg-3 col-6 mis-slide mb-4">
						<h6>Es la tendencia, las empresas se estan dando cuenta de que sus empleados trabajan igual o mejor de manera remota. </h6>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
<!-- video and events -->
	<div class="video-choose-agile py-lg-5">
		<div class="container py-5">
			<div class="title-section pb-sm-5 pb-3">
				<h3 class="heading-agileinfo text-center pb-4">Próximos <span>cursos</span></h3>
			</div>
			<div class="row">
				<div class="col-lg-5 events">
					<div class="events-w3ls">
						<div class="d-flex">
							<div class="col-sm-2 col-3 events-up p-2 text-center">
								<h5 class="font-weight-bold">29
									<span class="border-top font-weight-light pt-2 mt-2">Jun</span>
								</h5>
							</div>
							<div class="col-sm-10 col-9 events-right">
								<h4 class="Cur">Curso nivel básico </h4>
								<ul class="list-unstyled">
									<li class="my-2">2.00 pm</li>
									<li class="my-2">4.00 pm</li>
									<li class="my-2">7.00 pm</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex my-4">
						<div class="col-sm-2 col-3 events-up p-2 text-center">
							<h5 class="font-weight-bold">17
								<span class="border-top font-weight-light pt-2 mt-2">Jul</span>
							</h5>
						</div>
						<div class="col-sm-10 col-9 events-right">
							<h4 class="Cur">Curso avanzado adultos </h4>
							<ul class="list-unstyled">
								<li class="my-2">2.00 pm</li>
								<li class="my-2">4.00 pm</li>
								<li class="my-2">7.00 pm</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<ul class="list-unstyled">
						<li class="my-2"><h4 class="Cur"> Costos </h4></li>
						<li class="my-2"><h4 class="Cur"> Cursos regulares de avance rapido: </h4></li>
						<li class="my-2">17 días hábiles de lunes a viernes: $1,200</li>
						<li class="my-2"><h4 class="Cur"> Club de conversación:  </h4></li>
						<li class="my-2">1 hora diaria de lunes a viernes: semanal $500 o quincenal: $850</li>
						<li class="my-2">Bajo demanda con maestro de tu elección: $150</li>
						<li class="my-2"><br></li>
						<li class="my-2">Todas las caracteristicas de inmersión: como llamada sorpresa semanal,<br>
							club de lectura y correos corporativos no tienen costo pero influyen en tu calificación.<br>
							¡Acepta el reto hoy!</li>
					</ul>
				</div>
				<div class="col-lg-7 video">
					<img src="images/g1.jpg" class="img-fluid" alt="" />
				</div>
			</div>
		</div>
	</div>
	<!-- //video and events -->
<!--footer-->
	<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-md-4 footer-grid">
					<div class="footer-title">
						<h3>Acerca de nosotros</h3>
					</div>
					<div class="footer-text">
						<p>Profesores capacitados y con experiencia en el campo de la enseñanza del idioma inglés como una segunda lengua</p>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-title">
						<h3>Contactanos</h3>
					</div>
					<div class="contact-info">
					<h4>Localización :</h4>
					<p>Guadalajara, Jalisco.</p>
					<div class="phone">
						<h4>Teléfono :</h4>
						<p>Tel: 44-26-77-80-33</p>
						<p>Email : <a href="dream.english.contact@gmail.com">dream.english.contact@gmail.com</a></p>
					</div>
				</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-title">
						<h3>Servicios</h3>
					</div>
					<div class="footer-list">
						<div class="flickr-grid">
							<a href="services.html">
								<img src="assets/imgs/services1.jpg" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="flickr-grid">
							<a href="services.html">
								<img src="assets/imgs/services2.jpg" class="img-fluid" alt=" ">
							</a>
                        </div>
                        <div class="flickr-grid">
							<a href="services.html">
								<img src="assets/imgs/services3.jpg" class="img-fluid" alt=" ">
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				
			</div>
		</div>
	</footer>
	<!---->
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li>
						<h4>Síguenos en:</h4>
					</li>
					<li>
						<a href="https://www.facebook.com/DreamEnglish-111482483925431/">
							<img src="assets/imgs/facebook-logo.png" alt="facebook Logo" srcset=""class="logoFooter">
						</a>
					</li>
					<li>
						<a href="www.twitter.com">
							<img src="assets/imgs/twitter-icon.png" alt="twitter logo" srcset=""class="logoFooter">
						</a>
					</li>
					<li>
						<a href="www.instagram.com">
							<img src="assets/imgs/instagram-logo.png" alt="instagram logo" srcset=""class="logoFooter">
						</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //footer -->
</body>
</html>